.flexbox {
  display: flex;
  align-items: center;
  justify-content: center;
}

.border {
  border: 2px solid white;
}

.outer-part {
  z-index: 2;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #ffffff;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #dcdcdc;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #c8c8c8;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #dcdcdc #ffffff;
}